<article class="border rounded border-0 m-2 py-2 px-3 shadow">
    <h1>{{ .Title }}</h1>
    <span class="text-muted text-opacity-75 d-flex align-items-center">
        {{ partial "svg.html" "icons/calendar-month.svg" }}

        {{ time.AsTime .Date | time.Format "02.01.2006"}}
    </span>
    <p>
        {{ if in .Site.Params.onlyHeadings .Type }}
            {{ range .Fragments.Headings }}
                {{ with .Title }}
                {{ . }}<br />
                {{ end }}
                {{ range .Headings}}
                    {{ with .Title }}
                    {{ . }}<br />
                    {{ end }}
                {{ end }}
            {{ end}}
        {{ else }}
            {{ .Summary }}
        {{ end }} 
    </p>
    <a class="btn btn-primary" role="button" href="{{.RelPermalink}}">Zum Post</a>
</article>
