<article class="rounded m-2 py-2 px-3 shadow" style="background-color: var(--bs-body-bg);">
    <h1>
        {{ $type := .Type}}
        {{ with .Site.Params.sectionIcons }}
            {{ with (index . $type) }}
                {{ partial "svg.html" . }}
            {{ end }}
        {{ end }}

        {{ .Title }}</h1>
    <span class="text-muted text-opacity-75 d-flex align-items-center">
        {{ partial "svg.html" "icons/outline/calendar-month.svg" }}

        {{ time.AsTime .Date | time.Format "02.01.2006"}}
    </span>
    <div class="d-none d-xl-flex" style="display: flex;">
        <p style="flex:6">
            {{ if in .Site.Params.onlyHeadings .Type }}
                {{ range .Fragments.Headings }}
                    {{ with .Title }}
                    {{ . }}<br />
                    {{ end }}
                    {{ range .Headings}}
                        {{ with .Title }}
                        {{ . }}<br />
                        {{ end }}
                    {{ end }}
                {{ end}}
            {{ else }}
                {{ .Summary }}
            {{ end }} 
        </p>
        <a style="flex:1; height:fit-content; align-self: end; margin-bottom: 0.5em;" class="btn btn-primary post-button" role="button" href="{{.RelPermalink}}">{{ T "theme.toPostLabel" }}</a>
    </div>

    <div class="d-xl-none" style="display: flex; flex-direction: column;">
        <p style="flex:6">
            {{ if in .Site.Params.onlyHeadings .Type }}
                {{ range .Fragments.Headings }}
                    {{ with .Title }}
                    {{ . }}<br />
                    {{ end }}
                    {{ range .Headings}}
                        {{ with .Title }}
                        {{ . }}<br />
                        {{ end }}
                    {{ end }}
                {{ end}}
            {{ else }}
                {{ .Summary }}
            {{ end }} 
        </p>
        <a style="flex:1; height:fit-content; align-self: end; margin-bottom: 0.5em; width:100%" class="btn btn-primary post-button" role="button" href="{{.RelPermalink}}">{{ T "theme.toPostLabel" }}</a>
    </div>
</article>
