<!DOCTYPE html>
<html id="theme" data-bs-theme="light" lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

<body class="d-flex flex-column bg-body min-vh-100">
    <header>
        {{ partial "header.html" . }}
    </header>

    <div class="container-xl my-2">
        <div class="row d-flex">
            {{ partial "sidebar.html" . }}

            <div class="col-xl-8">
                <main data-bs-smooth-scroll="true" data-bs-spy="scroll" data-bs-target="#knuts-table-of-contents-42"
                    tabindex=0>
                    <div class="vstack border rounded border-0 h-100">
                        {{ block "main" .}} {{ end }}
                    </div>
                </main>
            </div>
            <div class="col-xl-2 p-2 d-none d-xl-flex">
                {{ if .IsPage }}
                {{ partial "toc.html" .}}
                {{ end }}
                {{ if .IsHome }}
                <div style="width: -moz-available;width: -webkit-fill-available;">
                    {{ partial "next-sitzung.html" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center bg-dark mt-auto" style="bottom: 0px;">
        {{ partial "footer.html" . }}
    </footer>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
