{{ define "main" }}
{{ partial "calendar.html" .}}
{{ range .Site.RegularPages | first 3 }}
<article class="border rounded border-0 m-2 py-2 px-3 shadow">
    <h1>{{ .Title }}</h1>
    <span class="text-muted text-opacity-75 d-flex align-items-center">
        {{ partial "svg.html" "icons/calendar-month.svg" }} {{ .Date.Format "2006-01-02" }}
    </span>
    <p>
        {{ .Summary }}
    </p>
    <a class="btn btn-primary" role="button" href="{{.RelPermalink}}">Zum Post</a>
</article>
{{end}}
{{ end }}
