{{ define "main" }}

{{ partial "list/pagination_aligned" . }}

{{ range ( .Paginator.Pages )}}
{{ if isset .Params "hiddenuntil"}}
    {{ $hiddenUntil := time.AsTime .Params.hiddenuntil }}
    {{ $date := time.Now }}
    {{ if not (gt $date.Unix $hiddenUntil.Unix) }}
        {{ continue }}
    {{ end }}
{{ end }}
    {{ if not (and (isset .Params "hidden") .Params.hidden) }}
        {{ partial "list/list_element.html" . }}
    {{ end }}
{{ end }}

{{ partial "list/pagination_aligned" . }}

{{ end }}
