{{ define "main" }}
<script>
    let query = new URLSearchParams(window.location.search).get("Search");
    initSearch(query,"search-full", "full-results", 0);

    //hide small search bar
    document.getElementById("search-bar").style.display = "none";
    //hide mobile search icon
    document.getElementById("modalSearchBar").style.display = "none";
</script>
    <input id="search-full" type="search" class="form-control" name="Search" placeholder="Search...">
        <div class="searchResults" id="full-results">
            <div class="searchFilters" id="full-results.filter" style="flex: 2;"></div>
            <div class="searchResultsList" id="full-results.content"></div>
        </div>

{{ end }}
