{{ define "main" }}
<template id="calendar-card-template">
    <a id="open-calendar" class="text-decoration-none" data-bs-target="#modal-calendar-branchen" type="button" data-bs-toggle="modal" data-bs-cal-title="Test" data-bs-cal-location="Test" data-bs-cal-date="Test" data-bs-cal-desc="Desc" >
        <div class="card shadow overflow-visible calendar" style="background: transparent;border-color: #6c7d47;">
            <div class="card-body" style="min-width: 200px;">
                <h1 class="text-truncate fs-4" id="heading">test</h1>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/calendar-month.svg"}}

                    <span id="date"></span>
                </span>

                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/map-pin-filled.svg"}}

                    <span style="text-overflow: ellipsis; white-space: nowrap; max-width: 300px; overflow: hidden;" id="location"></span>
                </span>
            </div>
        </div>
    </a>
</template>

<div id="modal-calendar-branchen" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="modal-calendar-title">Details</h1>
                <button class="btn ms-2" type="button" data-bs-target="#modal-calendar" data-bs-toggle="modal">
                    {{ partial "svg.html" "icons/x.svg"}}
                </button>
            </div>
            <div class="modal-body">
                <h2 class="modal-title" id="modal-calendar-title">Title</h2>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/calendar-month.svg"}}
                    <span class="modal-calendar-date">Date</span>
                </span>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/map-pin-filled.svg"}}
                    <span class="modal-calendar-location">Location</span>
                </span>
                <span class="text-secondary d-flex align-items-center">
                    <span class="modal-calendar-description">Desc</span>
                </span>
            </div>
        </div>
    </div>
</div>



<div class="m-2 overflow-auto">
    <div class="hstack gap-4 d-inline-flex pb-3" id="calendar-body">
        
    </div>
</div>

{{ .Content }}

<script>
    init_cal_modal("modal-calendar-branchen")
    build_calendar("/api/calendar/branchen");
</script>
{{end}}
