{{ define "main" }}

{{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Lastmod | time.Format "02.01.2006" }}

{{ $pagefindBody := ""}}

{{ if not .Params.hidden }}
    {{ $pagefindBody := "data-pagefind-body" }}
{{ end }}

<article {{ $pagefindBody }} class="rounded m-2 py-2 px-3 shadow" style="background-color: var(--bs-body-bg);" id="mainContent">
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
    <span class="badge text-bg-secondary mb-2 d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Last Modified">
        {{ partial "svg.html" "icons/outline/calendar-month.svg" }}

        <time data-pagefind-sort="date[datetime]" datetime="{{ $dateMachine }}" pubdate>{{ $dateHuman}}</time>
        {{ range .Params.categories }}
        <meta data-pagefind-filter="{{ T "theme.search.category" }}[content]" content="{{ . }}">
        {{ end }}

    </span>

    <p>
        {{ .Content }}
    </p>
</article>

<script>
    patch_markdown_tables("mainContent")
</script>

{{ end }}
