.calendar:hover {
  background-color: #57c7ff20 !important;
}

@media (max-width: 1199.98px) {
  .shadow-lg-xl {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
}

.toc a {
  border-left: 0.125rem solid transparent;
  padding: 0.125rem 0 0.125rem 0.75rem;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}

.toc a.active,
.toc a:hover {
  border-left-color: black;
}

.searchResults {
  display: none;
  background-color: var(--bs-body-bg);
  margin-right: 1em;
}

.searchResults#results {
  max-height: 50vh;
  top: 4em;
  z-index: 10000;
  position: fixed;
}

.searchFilters {
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  border-right-color: var(--bs-border-color-translucent);
  border-right-width: 2px;
  border-right-style: solid;
  flex: 2;
}
.searchFilters select {
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.searchResultsList {
  padding: 1em;
  flex: 5;
  overflow-y: auto;
}

.searchResultsList a {
  text-decoration: none;
  color: var(--bs-primary);
  font-size: 1.5em;
}

.sidebarChild {
  margin-left: 1.5rem;
  margin-top: 0.4em;
  border-left: 1px var(--bs-body-color) solid;
  padding-left: 0;
}

.sidebarChild a {
  line-break: auto;
  margin-left: var(--bs-nav-link-padding-x);
}

.dot.red {
    height: 25px;
    width: 25px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
}

.dot.green {
    height: 25px;
    width: 25px;
    background-color: #0f0;
    border-radius: 50%;
    display: inline-block;
}

#fs_status {
    display: flex;
    justify-items: center;
}
