<div class="m-2 overflow-auto">
    <div class="hstack gap-4 d-inline-flex pb-3"><a class="text-decoration-none" href="#">
            <div class="card shadow overflow-visible calendar" style="background: transparent;border-color: #6c7d47;">
                <div class="card-body">
                    <h1 class="text-truncate fs-4">Konsolen-Spieleabend</h1>
                    <span class="text-secondary d-flex align-items-center">
                        {{partial "svg.html" "icons/calendar-month.svg"}}

                        20.02 17:00
                    </span>

                    <span class="text-secondary d-flex align-items-center">
                        {{partial "svg.html" "icons/map-pin-filled.svg"}}

                        25.12.02.33
                    </span>
                </div>
            </div>
        </a>
        <div class="card shadow overflow-visible calendar" style="background: transparent;border-color: #6c7d47;">
            <div class="card-body">
                <h1 class="text-truncate fs-4">Konsolen-Spieleabend</h1>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/calendar-month.svg"}}

                    20.02 17:00
                </span>

                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/map-pin-filled.svg"}}

                    25.12.02.33
                </span>
            </div>
        </div>
        <div class="card shadow overflow-visible calendar" style="background: transparent;border-color: #6c7d47;">
            <div class="card-body">
                <h1 class="text-truncate fs-4">Konsolen-Spieleabend</h1>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/calendar-month.svg"}}

                    20.02 17:00
                </span>

                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/map-pin-filled.svg"}}

                    25.12.02.33
                </span>
            </div>
        </div>
        <div class="card shadow overflow-visible calendar" style="background: transparent;border-color: #6c7d47;">
            <div class="card-body">
                <h1 class="text-truncate fs-4">Konsolen-Spieleabend</h1>
                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/calendar-month.svg"}}

                    20.02 17:00
                </span>

                <span class="text-secondary d-flex align-items-center">
                    {{partial "svg.html" "icons/map-pin-filled.svg"}}

                    25.12.02.33
                </span>
            </div>
        </div>
    </div>
</div>
