<template id="doorstate-open">
    {{ partial "svg.html" "icons/outline/lock-open-2.svg"}}
</template>
<template id="doorstate-closed">
    {{ partial "svg.html" "icons/outline/lock.svg"}}
</template>

{{ if or (not (isset site.Params "enabledoorstate")) site.Params.enableDoorState }}
    <div title="{{ T "theme.doorstateLabel" }}" aria-label="Doorstate" data-bs-tooltip="" data-bs-placement="bottom" data-bs-original-title="Doorstate" class="d-flex align-items-center m-2 doorstate"> </div>
    <script> init_doorstate() </script>
{{ end }}
