{{ $logoDimension := 76}}

<div class="shadow-sm">
    <div class="container-xl mt-2" style="border-bottom-width: 1px;">
        <div class="row d-flex">
            <div class="col-4 col-sm-7 col-xl d-sm-flex d-xl-flex align-items-sm-center align-items-xl-center">
                {{ with resources.Get "images/logo.png" }}
                    <img src="{{ .RelPermalink }}" width="{{ $logoDimension }}" height="{{ $logoDimension }}">
                {{ end }}
                <a class="navbar-brand text-start d-none d-sm-inline align-items-center">
                    <span class="text-capitalize fs-4 me-2">{{ .Site.Title }}</span>
                </a>
            </div>
            <div class="col-8 col-sm-5 col-xl-4 d-flex d-xl-flex justify-content-end align-items-center align-items-sm-center justify-content-xl-end align-items-xl-center">
                <div class="input-group">
                    <input type="search" class="form-control" name="Search" placeholder="Search...">
                        <span class="input-group-text">
                            {{ partial "svg.html" "icons/search.svg"}}
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
