{{ $logoDimension := 76}}

<script>
    initSearch("", "search", "results");
</script>
<div class="shadow-sm">
    <div class="container-xl mt-2" style="border-bottom-width: 1px;">
        <div class="row d-flex">
            <div class="col-4 col-sm-7 col-xl d-sm-flex d-xl-flex align-items-sm-center align-items-xl-center">
                <button type="button" class="m-1 d-xl-none btn" onclick="toggle_menu()">
                    {{ partial "svg.html" "icons/menu-2.svg"}}
                </button>
                <a class="navbar-brand text-start d-none d-sm-flex align-items-center" href="/">
                    {{ with resources.Get "images/logo.png" }}
                        <img src="{{ .RelPermalink }}" width="{{ $logoDimension }}" height="{{ $logoDimension }}">
                    {{ end }}
                    <span class="text-capitalize fs-4 me-2">{{ .Site.Title }}</span>
                </a>
            </div>
            
            <div class="col-8 col-sm-5 col-xl-4 d-flex d-xl-flex justify-content-end align-items-center align-items-sm-center justify-content-xl-end align-items-xl-center">
                <div class="input-group">
                    <form action="/search" method="get">
                    <input id="search" type="search" class="form-control" name="Search" placeholder="Search...">
                    </form>
                    <span class="input-group-text">
                        {{ partial "svg.html" "icons/search.svg"}}
                    </span>
                        <button class="btn" onclick="toggle_dark_mode()">
                            {{ partial "svg.html" "icons/moon.svg"}}
                        </button>
                        <div class="border rounded shadow searchResults" id="results">
                        <div id="results.filter" style="flex: 2;">
                        </div>
                        <div id="results.content" style="
                            flex:5;
                            overflow-y: auto;">
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
