<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{{ .Title}} - {{ .Site.Title }}</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
{{ if not .Params.hidden -}}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{- end }}
{{ end }}

{{/* minify javascript */}}
{{ $scripts := (slice "cookies.js" "darkmode.js" "search.js" "calendar.js" "doorstate.js" "sitzung.js" "tables.js")}}

{{ range $scripts }}
{{ $location := printf "js/%s" . }}

{{ with resources.Get $location }}
{{ $js := . | resources.Minify }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}

{{ end }}

{{ $stylesheets := (slice "bs-theme-overrides.css" "Navbar-Right-Links-icons.css" "main.css")}}

{{/* minify css*/}}
{{ range $stylesheets }}
{{ $location := printf "css/%s" . }}

{{ with resources.Get $location }}
{{ $css := . | resources.Minify }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}

{{ end }}
