{{- $showPrivate := site.Params.showPrivate -}}
{{- $showHidden := site.Params.showHidden -}}

{{- if or $showPrivate $showHidden -}}
    <a 
        class="btn d-flex align-items-center" 
        href="/auth/logout/" 
        aria-label="Logout"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom" 
        title="Logout">
        {{ partial "svg.html" "icons/outline/logout.svg"}}
    </a>
{{- else -}}
    <a 
        class="btn d-flex align-items-center" 
        href="/auth/login/" 
        aria-label="Logout"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom" 
        title="Login">
        {{ partial "svg.html" "icons/outline/login.svg"}}
    </a>
{{- end -}}
