{{ $logoDimension := 76}}
<script>
    function toggle_menu() {
        var element = document.getElementById("offcanvas-menu");
        element.classList.toggle("show");
    } 
</script>

{{ define "sidebar_content" }}
<div class="bg-transparent overflow-auto">
    <ul class="nav nav-pills flex-column mb-auto gap-2">
        {{ $page := .Page }}
        {{ range .Site.Menus.main }}

        {{ $class := "nav-link" }}
        {{ $ariaCurrent := "false" }}

        {{ if or ($page.IsMenuCurrent .Menu . ) ($page.HasMenuCurrent .Menu .)}}
        {{ $class = printf "%s %s" $class "active" }}
        {{ $ariaCurrent = "page" }}
        {{ else }}
        {{ $class = printf "%s %s" $class "link-body-emphasis" }}
        {{ end }}

        <li class="nav-item overflow-hidden" style="width:100%">
            <a class="{{ $class }}" href="{{ .URL }}" aria-current="{{ $ariaCurrent }}" background-color="#111344">
                {{ with .Params.icon }}
                {{ partial "svg.html" .}}
                {{ end }}
                {{ or (T .Identifier) .Name | safeHTML }}
            </a>
            {{ if .HasChildren }}
            <ul class="sidebarChild">
                {{ range .Children }}
                {{ $class := "nav-link" }}
                {{ $ariaCurrent := "false" }}

                {{ if or ($page.IsMenuCurrent .Menu . ) ($page.HasMenuCurrent .Menu .)}}
                {{ $class = printf "%s %s" $class "active" }}
                {{ $ariaCurrent = "page" }}
                {{ else }}
                {{ $class = printf "%s %s" $class "link-body-emphasis" }}
                {{ end }}
                <li class="nav-item overflow-hidden">
                    <a class="{{ $class }}" href="{{ .URL }}">
                        {{ or (T .Identifier) .Name | safeHTML }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

<div class="col-xl-2 mt-2" style="border-right-color: var(--bs-offcanvas-color);">
    <div class="offcanvas-xl offcanvas-start bg-body shadow-lg-xl" tabindex="-1" data-bs-backdrop="false"
        id="offcanvas-menu" style="border-right-width: 1px;">
        <div class="offcanvas-header align-items-lg-center pt-2 pb-0 shadow-sm">
            <div class="d-flex align-items-center mb-md-0 text-decoration-none">
                {{ with resources.Get "images/logo.png" }}
                <img src="{{ .RelPermalink }}" height="{{ $logoDimension }}" width="{{ $logoDimension }}">
                {{ end }}
                <span class="fs-4">{{ .Site.Title}}</span>
            </div>
            <button class="btn-close" type="button" aria-label="Close" onclick="toggle_menu()"></button>

        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-between overflow-hidden"
            style="position: relative;">
            {{ template "sidebar_content" .}}

        </div>

        <div class="hstack m-2 ms-auto">
            <div class="d-sm-none">
                {{ partial "language_selector.html" . }}
            </div>
            <div class="d-sm-none">
                {{ partial "darkmode_toggle.html" . }}
            </div>
            <div class="d-sm-none">
                {{ partial "door_state.html" . }}
            </div>
        </div>
    </div>
</div>
