{{ $logoDimension := 76}}

<div class="col-xl-2" style="border-right-color: var(--bs-offcanvas-color);">
    <div class="p-2 sticky-xl-top">
        <div class="offcanvas-xl offcanvas-start bg-body shadow-lg show" tabindex="-1" data-bs-backdrop="false"
            id="offcanvas-menu" style="border-right-width: 1px;">
            <div class="offcanvas-header align-items-lg-center pt-2 pb-0 shadow-sm">
                <a class="link-body-emphasis d-flex align-items-center mb-md-0 text-decoration-none" href="/">
                    {{ with resources.Get "images/logo.png" }}
                    <img src="{{ . }}" height="{{ $logoDimension }}" width="{{ $logoDimension }}">
                    {{ end }}
                    <span class="fs-4">{{ .Site.Title}}</span>
                </a>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
            </div>

            <div class="offcanvas-body d-flex flex-column justify-content-between" style="position: relative;">
                <div class="bg-transparent">
                    <ul class="nav nav-pills flex-column mb-auto gap-2">
                        {{ $page := .Page }}
                        {{ range .Site.Menus.main }}

                        {{ $class := "nav-link link-body-emphasis" }}
                        {{ $ariaCurrent := "false" }}

                        {{ if or ($page.IsMenuCurrent .Menu . ) ($page.HasMenuCurrent .Menu .)}}
                        {{ $class = printf "%s %s" $class "active" }}
                        {{ $ariaCurrent = "page" }}
                        {{ end }}

                        <li class="nav-item">
                            <a class="{{ $class }}" href="{{ .URL }}" aria-current="{{ $ariaCurrent }}"
                                background-color="#111344">
                                {{ with .Params.icon }}
                                {{ partial "svg.html" .}}
                                {{ end }}
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
