<div>
    <nav class="toc p-2 sticky-xl-top overflow-auto flex-column pe-4" style="max-height: 80vh;" id="knuts-table-of-contents-42">
        <a class="link-body-emphasis fw-bold" href="#">{{ .Title }}</a>
        <nav class="nav flex-column" style="padding: 0">
            {{ range .Page.Fragments.Headings}}
            {{/* render level 1 headings*/}}

            {{ if ne .Title nil }}
            <a class="nav-link ms-3 my-1 link-body-emphasis" href="#{{ .ID }}">{{ .Title }}</a>
            {{ end }}

            {{ range .Headings }}
            {{/* render level 2 headings*/}}

            {{ if eq .Level 0}}
            {{ continue}}
            {{ end}}

            <a class="nav-link link-body-emphasis" href="#{{ .ID }}">{{ .Title }}</a>

            {{ with .Headings }}
            <nav class="nav flex-column">
                {{ range .}}
                {{/* render level 3 headings*/}}
                <a class="nav-link ms-3 text-dark-emphasis small " href="#{{ .ID }}">{{ .Title }}</a> 
                {{ end }}
            </nav>
            {{ end }}

            {{ end }}

            {{ end }}
        </nav>
    </nav>
</div>
